<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
    <base href="/" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"></link>
</head>
<body>

<div class="container">


    <h1>Welcome to your dashboard</h1>

    <br/>
    <a href="/area/edit" ><h2>Create a New Action Reaction</h2> </a>
   <a href="/area/list"> <h2> Manage your suscribed Action Reaction</h2></a>
</div>
</body>
</html>
